<md-tab-group>
  <md-tab>
    <template md-tab-label>
      <span title="Geographical representation of a country">Signup</span>
    </template>
    <template md-tab-content>
      <firebase-email-signup></firebase-email-signup>
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      <span title="How far one person is from the other">Signin</span>
    </template>
    <template md-tab-content>
      <firebase-email-signin></firebase-email-signin>
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      <span title="How far one person is from the other">Virtual Human Dashboard</span>
    </template>
    <template md-tab-content>
      <firebase-vh-dashboard></firebase-vh-dashboard>
    </template>
  </md-tab>

</md-tab-group>
