<div class="ui raised segment">
  <br>
  <div class="ui header">Signup using your email!</div>
  <br>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit($event, myForm)"
        class="ui form">

    <div class="field"
        [class.error]="!email.valid && email.touched">
      <label for="emailInput">Email</label>
      <input type="email"
             id="emailInput"
             placeholder="Email"
             [formControl]="email" 
             pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
       <div *ngIf="!email.valid"
         class="ui error message">Email is invalid</div>
       <div *ngIf="email.hasError('required')"
         class="ui error message">Email is required</div>
      <div *ngIf="email.hasError('invalidEmail')"
         class="ui error message">Email must begin with <span>123</span></div>
    </div>


    <div class="field"
        [class.error]="!email.valid && email.touched">
      <label for="emailInput">Password</label>
      <input type="password"
             id="emailInput"
             placeholder="password"
             [formControl]="password">
       <div *ngIf="!password.valid"
         class="ui error message">Password is invalid</div>
       <div *ngIf="password.hasError('required')"
         class="ui error message">Password is required</div>
      <div *ngIf="password.hasError('invalidPassword')"
         class="ui error message">Password must begin with <span>123</span></div>
    </div>


    <div class="field"
        [class.error]="!confirmPassword.valid && confirmPassword.touched">
      <label for="confirmPasswordInput">Confirm Password</label>
      <input type="password"
             id="confirmPasswordInput"
             placeholder="password again"
             [formControl]="confirmPassword"
             validateEqual="password">
       <div *ngIf="!confirmPassword.valid"
         class="ui error message">Email is invalid</div>
       <div *ngIf="confirmPassword.hasError('required')"
         class="ui error message">Email is required</div>
      <div *ngIf="confirmPassword.hasError('invalidEmail')"
         class="ui error message">Email must begin with <span>123</span></div>
    </div>

    <div *ngIf="!myForm.valid"
      class="ui error message">Form is invalid</div>

    <button type="submit" class="ui button">Submit</button>
  </form>
</div>
