<md-tab-group>
  <md-tab>
    <template md-tab-label>
      <span title="Geographical representation of a country">Country identity</span>
    </template>
    <template md-tab-content>
      <country-identity></country-identity>
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      <span title="How far one person is from the other">Distance</span>
    </template>
    <template md-tab-content>
      <distance-between></distance-between>
    </template>
  </md-tab>

</md-tab-group>
